@import url(style.css);

body {
  font-family: "Poppins", sans-serif;
}
h2 {
  padding: 15px;
  text-align: center;
}
form {
  width: 75vw;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input {
  font-size: 1rem;
}
input[type="submit"]{
  width: 50%;
  height: 50px;
  background: rgb(180, 170, 170);
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;

}
input[type="submit"]:hover{
  background-color: rgb(106, 104, 104);
  transition: 1ms;
}
.signup{
  margin: 30px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
}
.signup a:hover{
  text-decoration: inherit;
}